.hero {
    background-image: url('./assets/bg-topo.png');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

#linkdnwld {
    text-decoration: none;
    width: 250px;
    background-color: rgba(31, 112, 29, 1);
    border: 1px rgba(31, 112, 29, 1) solid;
    font-size: 19px;
    color: white;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

.logo-img {
    text-align: left;
    margin: 0 auto;
}

#header-img {
    width: 30%;
}

#main-title {
    display: block;
    padding: 5vh;
    margin-left: 5vw;
    width: 420px;
}

@media only screen and (max-width: 767px) {
    #main-title {
        max-width: 50%;
    }
    
    #linkdnwld {
        font-size: 15px;
    }
}